/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: Arial, Verdana;
	color: #ffffff;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background: #000000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main h1 {
	font-size: 42px;
	text-align:center;
	padding: 15px;
}

h2 {
	font-size: 30px;
	color: #0D0D0D;
}

p {
	font-size: 24px;
	padding-top: 10px;
	padding-left: 10px;
}

img {
	width: 250px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	border: 10px dashed #ffffff;
}

div {
	min-height: 125px;
	padding: 20px;
	border: 3px solid #ffffff;
}

.introduction{
	border-radius: 15px;
	margin-top: 15px;
	line-height: 2;
}

.red {
	background: #FF0000;
	text-align: left;
	margin-left: 50px;
	color: #C4C4C4;
	border-bottom: 2px solid #ffffff;
	border-right:none;
	border-top:none;
	border-left: 5px solid #ffffff;
}

.yellow {
	background: #FFFF00;
	text-align: right;
	margin-left: 20px;
	border-bottom: 2px solid #ffffff;
	border-right:none;
	border-top:none;
	border-left: 5px solid #ffffff;
}

.blue {
	color:#C4C4C4;
	background: #0000ff;
	text-align: left;
	margin-right: 50px;
	border-top: 2px solid #ffffff;
	border-left:none;
	border-bottom:none;
	border-right: 5px solid #ffffff;
}

.blue h2 {
	color:#C4C4C4;
}

.yellow p {
	color: #707070;
}

.green {
	background: #00EB00;
	text-align: left;
	margin-right: 50px;
	border-top: 2px solid #ffffff;
	border-left:none;
	border-bottom:none;
	border-right: 5px solid #ffffff;
}

footer {
	background: #000000;
	background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
	border: 5px solid #ffffff;
}

footer p {
	font-size: 20px;
	text-align: right;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}